@charset "UTF-8";
/* ---------------------------------------------------------
	/siteguide/ - PC & SP
--------------------------------------------------------- */
/* ディレクトリ内共通：リンクボタン
------------------------------------------ */
.bl_linkBtn_beige { margin-top: 2vw;}
.bl_linkBtn_beige > a { font-size: 2.2vw; font-weight: bold;}


/* ---------------------------------------------------------
	/support/index.html - PC & SP
--------------------------------------------------------- */
/* 航空券・ホテル・送迎の手配
------------------------------------------ */
.un_supportData > p { margin-top: 0.8em;}
.un_supportData ul
{
	margin-left: 1em;
}
.un_supportData .bl_indentList_1em > ul li {
	line-height: 1.5em;
}
/*--------------------------------------------------------------------------
　PC Only Style
--------------------------------------------------------------------------*/
@media screen and (min-width: 751px) {

	/* ---------------------------------------------------------
		/support/index.html - PC Only
	--------------------------------------------------------- */
	/* 航空券・ホテル・送迎の手配
	------------------------------------------ */
	.un_supportData > .barLine { margin-top: 3vw;}
	.un_supportData > .barLine:nth-of-type(n+2) { margin-top: 6vw;}

} /* @media END */
/*--------------------------------------------------------------------------
　SP Only Style
--------------------------------------------------------------------------*/
@media screen and (max-width: 750px) {
	/* ---------------------------------------------------------
		/siteguide/ - SP Only
	--------------------------------------------------------- */
	/* ディレクトリ内共通：リンクボタン
	------------------------------------------ */
	.bl_linkBtn_beige { margin-top: 6%;}
	.bl_linkBtn_beige > a { font-size: 18px;}

	/* ---------------------------------------------------------
		/siteguide/payment.html - PC Only
	--------------------------------------------------------- */
	/* 航空券・ホテル・送迎の手配
	------------------------------------------ */
	.un_supportData > .barLine { margin-top: 6%;}
	.un_supportData > .barLine:nth-of-type(n+2) { margin-top: 12%;}

} /* @media END */
