@charset "UTF-8";

.snsicon img{
    width: 40px;
    margin: 5px 0 0 0;
}

/*--------------------------------------------------------------------------
共通スタイル - PC & SP
--------------------------------------------------------------------------*/
/* 共通パーツ：タグ要素
------------------------------------------------ */
p { line-height: 1.8; }
img { -o-object-fit: cover; object-fit: cover; }

/* 共通パーツ：カラムパーツ
------------------------------------------------ */
.bl_columnUnitArea { margin-top: 2vw; display: flex; justify-content: space-between; }

.bl_columnUnitArea > [class^="bl_column"]:first-of-type { margin-left: 0; }

.bl_columnUnitArea .bl_columnHalf { width: calc(50% - 1vw); }

.bl_columnUnitArea .bl_columnThird_one { width: calc(33.33333% - 1vw); }

.bl_columnUnitArea .bl_columnThird_two { width: calc(66.66666% - 1vw); }

.bl_columnUnitArea .bl_columnFourth_one { width: calc(25% - 1vw); }

/* 共通パーツ：コンテンツエリア
------------------------------------------------ */
.mainContent { padding: 0 6vw; margin: 2vw 0 0; }

.mainContent a { color: #000; }

.content2 { color: #fff; padding: 2vw; background: #352e32; }

.content2 a { color: #fff; }

/* 共通パーツ：見出し
------------------------------------------------ */
.barLine { font-size: 18px; letter-spacing: 0.2em; color: #fff; padding: 0.6vw 1.6vw; background: #6B645F; }

.underLine2 { width: 100%; font-size: 30px; font-weight: bold; color: #FD7D2C; letter-spacing: 0.2em; margin: 0; padding-bottom: 10px; position: relative; }

.underLine2::after { content: ''; width: 100%; height: 7px; position: absolute; left: 0; bottom: 0; border-top: 3px solid black; border-bottom: 1px solid black; }

.bl_contTtl_wide { width: calc(100% + 12vw); font-size: 30px; font-weight: bold; color: #c69c6d; letter-spacing: 0.1em; text-align: center; margin: 0 -6vw; padding: 0.8vw; background: #352E32; }

.bl_contTtl_wide > span { font-size: 0.6em; vertical-align: middle; margin-left: 0.5em; }

.detailtitle_bg{background: #352E32;}

.detailtitle{ padding: 1.8vw 8vw 0.8vw; text-align: center; color: #c69c6d; font-size: 28px; letter-spacing: 0.2em; line-height: 1em; }

.detailtitle > span{ font-size: 21px; }

.roomspec{text-align: center;}

.roomspec > dt{letter-spacing: 0.2em; color: #fff; padding: 0.8vw 1.6vw 0.4vw; background: #6B645F; }

.roomspec > dd{ padding: 0.8vw 1.6vw 0.4vw; border: 1px solid #6B645F; }



/* 共通パーツ：オプションパーツ
------------------------------------------------ */
.orange { color: #FD7D2C; }

.gold { color: #C69C6D; }

.textCenter { text-align: center; }

.textLeft { text-align: left; }

.textRight { text-align: right; }

/* パンくず */
.siteTree { margin: 1.3vw 6vw 0; }
.siteTree2 { margin: 7vw 6vw 0; }

/* リンクボタン */
[class^="bl_linkBtn_"] > a { letter-spacing: 0.2em; text-align: center; padding: 1.2vw; display: block; }

.bl_linkBtn_beige > a { color: #352E32; background: #c69c6d; }

.bl_linkBtn_brown > a { color: #fff; background: #352E32; }

/* ギャラリー */
.bl_photoGallery { display: flex; justify-content: space-between; }

.bl_photoGallery .bl_photoThumb > ul { font-size: 0; }

.bl_photoGallery .bl_photoThumb_two > ul { font-size: 0; }

.bl_photoGallery .bl_photoThumb > ul > li { display: inline-block; }

.bl_photoGallery .bl_photoThumb_two > ul > li { display: inline-block; }

.bl_photoGallery .is_over img { opacity: 0.5; }

/* ページャー */
.bl_postPager { text-align: right; margin-top: 8vw; }

.bl_postPager > li { margin: 0 0.5em; display: inline-block; }

/* インデント付リスト */
.bl_indentList_1em { margin-top: 2vw; }

.bl_indentList_1em > ul li { text-indent: -1em; padding-left: 1em; }

.relative{position: relative;} 

.roomprice{ position: absolute; bottom: 0; font-size: 24px; letter-spacing: 0.1em; color: #c69c6d; padding: 0 1vw; border-bottom: 1px solid #c69c6d;
}

.roomprice span{font-size: 48px;}


/*--------------------------------------------------------------------------
　共通スタイル - PC Only
--------------------------------------------------------------------------*/
@media screen and (min-width: 751px) { /* 共通パーツ：オプションパーツ ------------------------------------------------ */
  /* 電話リンク無効 */
  a[href^="tel:"] { pointer-events: none; }
  /* 共通パーツ：オプションパーツ ------------------------------------------------ */
  /* リンクボタン */
  [class^="bl_linkBtn_"] > a:hover { opacity: 0.7; }
  .is_linkHover > a:hover { opacity: 1; }
  .bl_linkBtn_beige.is_linkHover > a:hover { background: #352E32; }
  .bl_linkBtn_brown.is_linkHover > a:hover { background: #c69c6d; }
  /* ギャラリー */
  .bl_photoGallery .bl_photoCurrent { width: calc(33.333% - 1vw); }
  .bl_photoGallery .bl_photoThumb { width: calc(66.666% - 1vw); }
  .bl_photoGallery .bl_photoThumb > ul > li { width: calc((100% / 4) - 1vw); margin: 1vw 0 0 1vw; }
  .bl_photoGallery .bl_photoThumb > ul > li:nth-of-type(-n+4) { margin-top: 0; }
  .bl_photoGallery .bl_photoThumb > ul > li:nth-of-type(4n+1) { margin-left: 0; } 
  /* ギャラリー サムネイル3列*/
  .bl_photoGallery .bl_photoCurrent_two { width: calc(50% - 1vw); }
  .bl_photoGallery .bl_photoThumb_two { width: calc(50% - 1vw); }
  .bl_photoGallery .bl_photoThumb_two > ul > li { width: calc((100% / 3) - 1vw); margin: 1vw 0 0 1vw; }
  .bl_photoGallery .bl_photoThumb_two > ul > li:nth-of-type(-n+3) { margin-top: 0; }
  .bl_photoGallery .bl_photoThumb_two > ul > li:nth-of-type(3n+1) { margin-left: 0; } }

/* @media END */
/*--------------------------------------------------------------------------
　共通スタイル - SP Only
--------------------------------------------------------------------------*/
@media screen and (max-width: 750px) { /* 共通パーツ：コンテンツエリア ------------------------------------------------ */
  .mainContent { padding: 0 4vw; }
  .mainContent2 { width: 100%; }
  .content2 { padding: 5vw 4vw; }
  /* 共通パーツ：見出し ------------------------------------------------ */
  .barLine { font-size: 16px; padding: 2.4vw 3vw; }
  .underLine2 { font-size: 20px; letter-spacing: 0.1em; padding-bottom: 3%; }
  .underLine2::after { height: 5px; border-top-width: 2px; }
  .bl_contTtl_wide { width: calc(100% + 8vw); font-size: 18px; margin: 0 -4vw; padding: 2.4%; }
  /* 共通パーツ：カラムパーツ ------------------------------------------------ */
  .bl_columnUnitArea { margin-top: 5vw; flex-wrap: wrap; }
  .bl_columnUnitArea > [class^="bl_column"] { width: 100%; margin: 3vw 0 0; }
  .bl_columnUnitArea > [class^="bl_column"]:first-of-type { margin-top: 0; }
  .bl_columnUnitArea .bl_columnFourth_one { width: calc(50% - 1vw); }
  .bl_columnUnitArea .bl_columnFourth_one:nth-of-type(-n+2) { margin-top: 0; }
  /* 共通パーツ：オプションパーツ ------------------------------------------------ */
  .siteTree { font-size: 13px; }
  /* リンクボタン */
  [class^="bl_linkBtn_"] > a { letter-spacing: 0.2em; padding: 3% 2%; }
  /* ギャラリー */
  .bl_photoGallery { flex-direction: column; }
  .bl_photoGallery .bl_photoCurrent { width: 100%; }
  .bl_photoGallery .bl_photoThumb { width: 100%; margin-top: 4%; }
  .bl_photoGallery .bl_photoThumb > ul > li { width: calc((100% / 3) - 2%); margin: 2% 0 0 2%; }
  .bl_photoGallery .bl_photoThumb > ul > li:nth-of-type(-n+3) { margin-top: 0; }
  .bl_photoGallery .bl_photoThumb > ul > li:nth-of-type(3n+1) { margin-left: 0; }
  /* ギャラリー サムネイル3列 */
  .bl_photoGallery { flex-direction: column; }
  .bl_photoGallery .bl_photoCurrent_two { width: 100%; height: auto !important;}
  .bl_photoGallery .bl_photoThumb_two { width: 100%; margin-top: 4%; }
  .bl_photoGallery .bl_photoThumb_two > ul > li { width: calc((100% / 3) - 2%); margin: 2% 0 0 2%; }
  .bl_photoGallery .bl_photoThumb_two > ul > li:nth-of-type(-n+3) { margin-top: 0; }
  .bl_photoGallery .bl_photoThumb_two > ul > li:nth-of-type(3n+1) { margin-left: 0; }
  /* インデント付リスト */
  .bl_indentList_1em { margin-top: 6vw; } 

	.snsicon img {margin: 5px auto 0;}
    
    .detailtitle{padding: 6vw 6vw;}
    
    .roomspec > dt{ padding: 2.3vw 1.6vw 0.8vw; }
    
    .roomspec > dd{ padding: 2.3vw 1.6vw 0.8vw; }
    
    .roomprice{position: unset; letter-spacing: 0.2em; text-align: center; line-height: 2em;
    margin-top: 5vw; margin-bottom: 5vw;}

}



/* @media END */
